<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학습실 선택</title>
    <link rel="stylesheet" href="../static\CSS\choose.css">
</head>
<body>
    <h1 style="text-align: center; position: relative; color: black; font-size: 73.16px; font-family: 'GmarketSansTTFBold'; font-weight: 500; word-wrap: break-word">학습실 선택</h1>
    <br>
    <div class="container">
        <a href="{{ url_for('study1_page') }}"class="button">
            학습실1
            <div class="subtext">2-6</div>
            <div class="small-text">xx명 남음</div>
        </a>
        <a href="{{ url_for('study2_page') }}" class="button">
            학습실2
            <div class="subtext">2-7</div>
            <div class="small-text">xx명 남음</div>
        </a>
        <a href="{{ url_for('study3_page') }}" class="button">
            학습실3
            <div class="subtext">2-8</div>
            <div class="small-text">xx명 남음</div>
        </a>
        <a href="{{ url_for('study4_page') }}" class="button">
            학습실4
            <div class="subtext">2-9</div>
            <div class="small-text">xx명 남음</div>
        </a>
        <a href="{{ url_for('study5_page') }}" class="button">
            학습실5
            <div class="subtext">2-10</div>
            <div class="small-text">xx명 남음</div>
        </a>
    </div>
</body>
</html>