<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/CSS/select.css">
    <title>선택창</title>
</head>
<body>
    <h2 class="main-text" style="display: flex; justify-content: center;">자습실 선택</h2>
    <div class="button-container">
        <!-- 상단 행: 자습실 1, 2, 3 -->
        <div class="button-row-top">
            <button class="button top" onclick="goToPage('study1')">
                <span class="main-text">자습실 1</span>
                <span class="sub-text">2-6</span>
                <span class="info-text">00명 남음</span>
            </button>
            <button class="button top" onclick="goToPage('study2')">
                <span class="main-text">자습실 2</span>
                <span class="sub-text">2-7</span>
                <span class="info-text">00명 남음</span>
            </button>
            <button class="button top" onclick="goToPage('study3')">
                <span class="main-text">자습실 3</span>
                <span class="sub-text">2-8</span>
                <span class="info-text">00명 남음</span>
            </button>
        </div>
        <!-- 하단 행: 자습실 4, 5 -->
        <div class="button-row-bottom">
            <button class="button bottom" onclick="goToPage('study4')">
                <span class="main-text">자습실 4</span>
                <span class="sub-text">2-9</span>
                <span class="info-text">00명 남음</span>
            </button>
            <button class="button bottom" onclick="goToPage('study5')">
                <span class="main-text">자습실 5</span>
                <span class="sub-text">2-10</span>
                <span class="info-text">00명 남음</span>
            </button>
        </div>
    </div>
    <script>
        function goToPage(page) {
            window.location.href = "/StudyRoom/" + page;
        }
    </script>
</body>
</html>
