<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>선택창</title>
</head>
<body>
    <h2>수행실 선택</h2>
    <button onclick="goToPage('performence1')">수행실1</button>
    <button onclick="goToPage('performence2')">수행실2</button>
    <button onclick="goToPage('performence3')">수행실3</button>
    <button onclick="goToPage('performence3')">수행실4</button>
    <button onclick="goToPage('performence3')">수행실5</button>

    <script>
        function goToPage(page) {
            window.location.href = "/PerformenceRoom/" + page;
        }
    </script>
</body>
</html>
